<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHXmrwSPFA6TbEq-iZ9ph1BimNhQ7sR1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>847142592507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-b984c</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-b984c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847142592507:ios:0c5de8c604b47d284d755e</string>
</dict>
</plist>